.CategoryToggle {
  display: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  border: none;
  transition: 0.3ms;
  width: 100%;
}

.CategoryToggle .category-button {
  display: flex;
  justify-content: center;

  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.CategoryToggle .category-button:hover {
  background-color: rgba(24, 24, 24, 0.553);
}

.CategoryToggle img {
  display: block;
  width: 30px;
  margin: 0px 5px 0px auto;
  transition: 0.2s;
}

.CategoryToggle .category-button h2 {
  color: black;
  margin: 5px auto 0px 5px;
  text-align: center;
  transition: 0.3ms;
}

@media (max-width: 455px) {
  .CategoryToggle {
    display: inline-block;
  }
}
