.CartList .CartItem {
  width: 60vw;
  align-items: center;
  padding: 3px;
  border: 2px solid black;
  margin: 30px 10px;
  display: grid;
  grid-template-areas: ".product-picture .link-cart .counter .price .remove ";
  grid-template-columns: 1fr 2fr 1fr 1fr 1fr;
}

.CartList .CartItem .product-picture {
  width: 90px;
  height: 90px;
  margin-left: 10%;
  border-radius: 100%;
}

.CartItem .counter {
  width: 30px;
  color: black;
}
.CartItem .link-cart {
  text-decoration: none;
  color: black;
  font-size: 17px;
  margin-right: 10px;
}

.remove {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transform: scale(1);
  transition: 0.3ms;
}
.remove:hover {
  transform: scale(1.1);
}

.remove img {
  width: 40px;
  height: 40px;
}

@media (max-width: 1100px) {
  .CartList .CartItem {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media (max-width: 899px) {
  .CartList .CartItem {
    width: 100%;
  }
}

@media (max-width: 580px) {
  .CartList .CartItem {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
