.CartList .CartItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 3px;
  border: 2px solid black;

  margin: 30px 10px;
}

.CartList .CartItem img {
  width: 80px;
  height: 70px;
  border-radius: 100%;
}

.CartItem .counter {
  width: 30px;
  color: black;
}
.CartItem .link-cart {
  text-decoration: none;
  color: black;
  font-size: 17px;
}

.remove {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.remove img {
  width: 40px;
  height: 40px;
}
