
.CartList .CartItem {
  width:60vw;
  align-items: center;
  padding: 3px;
  border: 2px solid black;
  margin: 30px 10px;
  display: grid;
  grid-template-areas: ".product-picture .link-cart .counter .price .remove ";
  grid-template-columns: 2fr 3fr 1fr 1fr 1fr;
}

.CartList .CartItem .product-picture {
  width: 90px;
  height: 90px;
  margin-left: 10%;
  border-radius: 100%;
}

.CartItem .counter {
  width: 30px;
  color: black;
}
.CartItem .link-cart {
  text-decoration: none;
  color: black;
  font-size: 17px;
  margin-right: 10px;
}

.remove {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.remove img {
  width: 40px;
  height: 40px;
}
