@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Koulen&family=Lato&family=Nunito&family=Playfair+Display:ital@1&family=Prata&family=Raleway:ital,wght@1,100&family=Roboto&family=Roboto+Condensed&family=Teko&display=swap");

.btn {
  width: 55px;
  border: solid #0066cc 3px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
}

.btn:hover {
  border: solid 3px #b8c2cc;
  box-shadow: 1px 1px 2px rgb(53, 52, 52);
}
.AddToCart {
  display: flex;
}


.icon-btn {
  width: 25px;
  flex-direction: row;
  padding: 3px;
}

.total{
  color: black;
  font-weight: 700;
  padding: 3px 1px;
}
