.container {
  display: flex;
  flex-direction: row;
  max-width: 40vw;
}

.descriptionHeader{
  flex-direction: column;
}
.descriptionHeader img {
  max-width: 200px;
}

.descriptionContent {
  margin: 20%;
  flex-direction: column;
}
.descriptionContent span {
  padding: 10px;
  border: 1px solid #0000006b;
}