.Product .container {
  display: flex;
  margin: 20px;
  flex-wrap: wrap;
}
.content-product {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 50vw;
}

.descriptionHeader {
  flex-direction: column;
}
.descriptionHeader img {
  width: 50vw;
}

.descriptionContent {
  margin: 20%;
  display: flex;
  flex-direction: column;
}
.descriptionContent span {
  margin: 0 auto;
  border-bottom: 1px solid red;
  font-size: 25px;
}
.descriptionContent p {
  text-align: center;
  padding: 10px;
  font-size: 20px;
}
