.Drawer .content {
  padding: 1rem 0;
  background-color: #fffffffa;
  color: white;
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
  width: 260px;
  overflow: hidden;

  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 100;

  transform: translateX(-300px);
  transition: transform .3s;
}
.Drawer .backdrop {
  background-color: rgba(0, 0, 0, .3);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 90;
  display: none;
}

.open .backdrop {
  display: block;
}
.open .content {
  transform: translateX(0);
}
.Drawer .Nav .NavItem {
  color:#000;
  text-decoration: none;
  font-size: 20px;
  padding:20px;
  transition: 0.3ms;
}

.Drawer .Nav {
  display: flex;
  flex-direction: column;
}
.Drawer .Nav .NavItem:hover {
border: 1px solid #000;
box-shadow: none;
}

.Drawer .Logo img {
  width: 50%;
}



@media (min-width: 750px) {
  .Drawer .backdrop {
    display: none;
  }
  .Drawer .content {
    transform: translateX(-300px);
  }
} 