@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;0,900;1,900&display=swap');
.Nav .NavItem a {
  color:#000;
  text-decoration: none;
  font-size: 18px;
  padding:10px;
  transition: 0.3ms;
}

.Nav .NavItem a:hover {
  border-bottom: 1px solid #000;
  
}
.Nav {
  font-family: Roboto, sans-serif;
  font-weight: 500;
}
.Nav {
  width: 60%;
}
.Nav ul {
  padding: 0;
  margin: 30px;
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

@media (max-width: 550px) {
  .Nav ul {
    flex-direction: column;
    margin: 1rem 0;
  }
}