.FooterDisplay {
  background-color: #d4d3d3;
  display: flex;
  justify-content: space-around;
  margin-top: 50px;
  padding: 20px;
  flex-wrap: wrap;
}

.FooterDisplay .Logo img {
  width: 200px;
}

.FooterDisplay .menu {
  display: flex;
  flex-direction: column;
}
.FooterDisplay .content {
  
}
.shop-name {
  display: flex;
  flex-direction: column;
}
.shop-name h3 {
  text-align: center;
}
.menu .Nav ul {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-top: 12px;
}

.menu .Nav ul li {
  padding: 5px;
}

.menu .Nav ul li a {
  font-size: 15px;
}
.contact-about {
  display: flex;
  flex-direction: column;
}

.contact-about p {
  margin: 0;
}
.contacts h3 {
  text-align: center;
}
.contacts {
  display: flex;
  flex-direction: column;
}
.contacts .social-network a {
  cursor: pointer;
  margin: 5px;

}
.contacts .social-network a img:hover {
  transform: scale(1.2);
}
.contacts .social-network a img {
  width: 40px;
  transform: scale(1);
  transition: box-shadow 0.5s, transform 0.5s;
  cursor: pointer;

}
@media (max-width: 767px) {
  .FooterDisplay .Logo img {
    width: 60%;
  }
}
